In [ ]:
a = 5

In [ ]:
type(a)

int

In [ ]:
b = 5.6

In [ ]:
type (b)

float

In [ ]:
"2"+ 3

TypeError: can only concatenate str (not "int") to str

In [ ]:
type("2")

str

In [ ]:
# Type castimh /Type conversion

In [ ]:
a = "2"
b = 3
a = b

In [ ]:
type(a)

int

In [ ]:
int(a)+b

6

In [ ]:
a = 3.4
type(a)

float

In [ ]:
int(a)

3

In [ ]:
b = 6.78
type(b)
float_value = int(b)
type(float_value)

int

In [ ]:
# integer to float
a = 2
type(a)

int

In [ ]:
b = float(a)
b

2.0

In [ ]:
a = "ajay"
type(a)

str

In [ ]:
int(a)

ValueError: invalid literal for int() with base 10: 'ajay'

In [ ]:
# integer to string

In [ ]:
a = 5
type(a)

int

In [ ]:
a

5

In [ ]:
c = str(a)

In [ ]:
c

'5'

In [ ]:
type(c)

str

In [ ]:
#implicit type casting
2 + 3

5

In [ ]:
2+3.5

5.5

In [ ]:
a = "ajay"
b = "kumar gupta"\a = b

SyntaxError: unexpected character after line continuation character (ipython-input-29-1661238448.py, line 2)

In [ ]:
a = "Ajay"
b = "kumar gupta"
a = b

In [ ]:
"100" + "ajay"

'100ajay'

In [ ]:
bool("ajay")

True

In [ ]:
bool("") # empty string

False

*CONDITIONALS* 2/07/25

In [ ]:
# CONDITIONALS >> i will play cricket when the weather is sunny
# loop statement >> keep checking out all the dishes in a buffet
# break statement >> i will check out all the dishes until i gate pasta

In [ ]:
#conditional statement >> helps you to code decision based on some precondition
#if
#if else
#if elif (elseif)else
# nested if else

In [ ]:
# if statement
# syntax
# if condition true
# block of code will be executed

In [ ]:
3 > 4

False

In [ ]:
a = 100
if a > 0:    #execute the if back , if the condition is true
  print("the number is greater than 0")

the number is greater than 0

In [ ]:
weather = "rainy"
if weather == "rainy":
  print("i will not play cricket") # indentation (:) is necessary here

i will not play cricket

In [ ]:
sun = "rise"
if sun == "rise":
  print("sun rises in the east ")

sun rises in the east

In [ ]:
grade = 8
if(grade>= 8)

In [ ]:
weather = "rainy"
if weather == "rainy":
  print("i will play cricket")
else :
  print("i will watch tv ")

i will play cricket

In [ ]:
age = 17
if age >= 18:
  print("you will serve alchol")
else :
  print("get out of the bar")

get out of the bar

In [ ]:
age = 19
if age >= 18:
  print("you will serve alchol")
else :
  print("get out of the bar")

you will serve alchol

In [ ]:
age = 19
if age >+18:
  print("you will get driving licence")
else :
  print("donot drive")

you will get driving licence

In [ ]:
#to check if a no is even
6 % 2

0

In [ ]:
score = 33
if score>= 33 :
  print("you will paas")
else :
  print("fail")

you will paas

In [ ]:
# if else >> two condition
# in real life we can have multiple condition
# syntax
# if some condition
# elif some condition
# else

In [ ]:
a = 10
if a>100:
  print("this block will be executed if a is greater than 100")
elif a < 100:
  print("this block will be executed if a is lesser than 100")
else :
  print("the number is equal to 100")

this block will be executed if a is lesser than 100

In [ ]:
score = 30
if score>= 90 :
  print("grade A")
elif (80<=score<90):
  print("grade B")
else:
  print("grade C")

grade C

In [ ]:
age = 55
if age <= 18:
  print("student")
elif age == 30:
  print("men")
else :
  print("senior citizen")

senior citizen

In [ ]:
name = input("please enter your name")
email = input("please enter your email")
password = input("please enter your password")

if name == "":
  print("please enter your valid name , name cannot be empty")
else :
  if "@" not in email:
    print("please enter a valid email" )
  else :
    if len(paasword)<0 :
      print("no paasword is entered ")
    else:
      print("login / registration successful")

LOOPS

In [ ]:
# loop statement>>

In [ ]:
#while condition

In [ ]:
n = 7
i = 1
while i < n:
  print(i)
  i = i + 1

1
2
3
4
5
6

In [ ]:
count = 5
while count > 0:
  print(count)
  count = count - 1

5
4
3
2
1

In [ ]:
n = 7
i = 1
while i < n:
    print(i)
    i = i+1
else:
    print("This will be executed when the while is run successfuly")

1
2
3
4
5
6
This will be executed when the while is run successfuly

In [ ]:
#break terminates/exits the loop
#The condition is met it will break loop
n = 7
i = 1
while i < n:
    print(i)
    i = i+1
    if i == 3:
        break
else:
    print("This will be executed when the while is run successfuly without any break")

1
2

In [ ]:
#for loops >>iterate over a sequence of elements >> strings, list
for i in "pwskills":
    print(i)

p
w
s
k
i
l
l
s

In [ ]:
type(i)

str

In [ ]:
a = "pwskills"
for i in a:
    print(i)

p
w
s
k
i
l
l
s

In [ ]:
l = [1,2, "Ajay", "pwskills"]
for i in l:
    print(i)

1
2
Ajay
pwskills

In [ ]:
for i in l:
    print(i)
else:
    print("This will be executed when for loop ends without a break statment")

1
2
Ajay
pwskills
This will be executed when for loop ends without a break statment

In [ ]:
 list(range(0 , 10)) #it will give value from 0 to 9

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
for i in range (10):
  print(i,end=" ")

0 1 2 3 4 5 6 7 8 9

In [ ]:
# syntax of range (start , stop , step)
list(range(0 , 27 , 3))

[0, 3, 6, 9, 12, 15, 18, 21, 24]

In [ ]:
# problem statement
# print a right triangle with*

In [ ]:
print("*")
print("**")
print("***")
print("****")

*
**
***
****

In [ ]:
for i in range (4):
  for j in range (i + 1):
        print("*" end = " ")
    print()

# New Section

Introduction to python

Python is a programming language that is easy to understand and write, making it a popular choice among developers and programmers.
It is compatible with various programming paradigms, such as procedural, object-oriented, and functional programming.
Python has a large and active community of developers, an extensive standard library, and third-party packages for various domains.
Predefined keywords

Keywords are reserved words in Python that have special meanings and cannot be used as identifiers (variable names, function names, etc.).
Examples of keywords include if, else, while, for, def, class, import, try, except, return, True, False, None, etc.
Keywords are case-sensitive and cannot be redefined or overridden within a Python program.
Mutability & Immutability.

In Python, objects can be either changeable (modifiable) or unchangeable (unchangeable).
Mutable objects, such as lists and dictionaries, can be modified after creation, while immutable objects, such as tuples and strings, cannot.
Mutability affects how objects are stored and manipulated in memory, impacting performance, memory usage, and concurrency in Python programs.
Operators

Operators are special symbols or keywords that are used to carry out specific actions on numbers or variables in Python expressions.
Python supports various types of operators, including arithmetic operators (+, -, *, /), comparison operators (==, !=, <, >), logical operators (and, or, not), assignment operators (=, +=, -=, *=, /=), etc.
Operators have precedence and associativity rules that determine the order of evaluation in expressions.
Type Casting

Type casting, also referred to as type conversion, is the process of changing one data type to another in Python.
Python provides built-in functions for type casting, such as int(), float(), str(), list(), tuple(), dict(), etc.
Type casting is often necessary for performing arithmetic operations, data manipulation, and input/output operations in Python programs.
Conditionals
Conditionals in Python are used to execute code based on the evaluation of one or more conditions.
Python supports conditional statements such as if, elif (else if), and else to control the flow of execution.
Conditionals can be nested to handle multiple conditions and control different branches of execution based on the outcome of logical expressions.
Loops

In Python, loops are employed to repeat a sequence of actions or code until a specific condition is fulfilled.
Python offers two primary types of loops: for loops and while loops.
“for” loops are used for iterating over a sequence of elements, while “while” loops are used for executing code until a specified condition becomes False

In [ ]:
x = 5
y = 2
print(x**y)

In [ ]:
[1, 2, 3, 4, 5] :
print(len("num_list"))

In [ ]:
a = 5
b = "5"
print(a + int(b))

10

In [ ]:
x = [1, 2, 3]
 y = x  y append(4)
  print(x)

In [ ]:
 i in range(3, 0, -1):
   print(i)

In [ ]:
list(range(3 , 0 , -1))

[3, 2, 1]

In [ ]:
x = [1, 2, 3, 4, 5]
y = x[1:4]
print(y)

[2, 3, 4]

In [ ]:
text = "Python"
print(text[::-1])

nohtyP

In [ ]:
def add(a, b=5):
  return a + b
  print(add(3))

In [ ]:
print(type([]))

<class 'list'>